@import url( http://www1.pconline.com.cn/global/2008/css/header08.css );
@import url( http://www1.pconline.com.cn/global/2008/css/subnav08.css );
@import url( http://www1.pconline.com.cn/global/2008/cmt/cmt081208.css );
@import url( http://www1.pconline.com.cn/global/2009/css/nav09/navigation09.css );
BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #303880; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; -MS-INTERPOLATION-MODE: bicubic; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
I {
	FONT-STYLE: normal
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
OPTION {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
NOSCRIPT {
	DISPLAY: none
}
.clear {
	CLEAR: both
}
.block {
	DISPLAY: block
}
.justify {
	TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; WHITE-SPACE: normal; WORD-BREAK: break-all
}
.nowrap {
	WHITE-SPACE: nowrap
}
.spanclass {
	POSITION: absolute; LINE-HEIGHT: 5px; WIDTH: 5px; DISPLAY: none; FLOAT: left; HEIGHT: 5px; FONT-SIZE: 5px; TOP: -15px; LEFT: -15px
}
.show {
	DISPLAY: block
}
.hidden {
	DISPLAY: none
}
.sliderwrapper .contentdiv {
	DISPLAY: none; VISIBILITY: hidden
}
.pagination {
	ZOOM: 1
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.red {
	COLOR: #f00
}
.red A:link {
	COLOR: #f00
}
.red A:visited {
	COLOR: #f00
}
A.red:link {
	COLOR: #f00
}
A.red:visited {
	COLOR: #f00
}
.white {
	COLOR: #fff
}
.white A:link {
	COLOR: #fff
}
.white A:visited {
	COLOR: #fff
}
A.white:link {
	COLOR: #fff
}
A.white:visited {
	COLOR: #fff
}
.yellow {
	COLOR: #ffd600
}
.yellow A:link {
	COLOR: #ffd600
}
.yellow A:visited {
	COLOR: #ffd600
}
A.yellow:link {
	COLOR: #ffd600
}
A.yellow:visited {
	COLOR: #ffd600
}
.grey {
	COLOR: #999
}
.grey A:link {
	COLOR: #999
}
.grey A:visited {
	COLOR: #999
}
A.grey:link {
	COLOR: #999
}
A.grey:visited {
	COLOR: #999
}
.blue_1 {
	COLOR: #3367cd
}
.blue_1 A:link {
	COLOR: #3367cd
}
.blue_1 A:visited {
	COLOR: #3367cd
}
A.blue_1:link {
	COLOR: #3367cd
}
A.blue_1:visited {
	COLOR: #f60
}
.f12px {
	FONT-SIZE: 12px
}
.f12px A:link {
	FONT-SIZE: 12px
}
.f12px A:visited {
	FONT-SIZE: 12px
}
.f13px {
	FONT-SIZE: 13px
}
.f13px A:link {
	FONT-SIZE: 13px
}
.f13px A:visited {
	FONT-SIZE: 13px
}
.f14px {
	FONT-SIZE: 14px
}
.f14px A:link {
	FONT-SIZE: 14px
}
.f14px A:visited {
	FONT-SIZE: 14px
}
.letter1 {
	LETTER-SPACING: 1px
}
.letter2 {
	LETTER-SPACING: 2px
}
.letter5 {
	LETTER-SPACING: 5px
}
.letter6 {
	LETTER-SPACING: 6px
}
.letter12 {
	LETTER-SPACING: 12px
}
.word0 {
	WORD-SPACING: 0px
}
.word2 {
	WORD-SPACING: 2px
}
.word3 {
	WORD-SPACING: 3px
}
.word4 {
	WORD-SPACING: 4px
}
.word5 {
	WORD-SPACING: 5px
}
.word8 {
	WORD-SPACING: 8px
}
.word10 {
	WORD-SPACING: 10px
}
.word12 {
	WORD-SPACING: 12px
}
.word15 {
	WORD-SPACING: 15px
}
.word16 {
	WORD-SPACING: 16px
}
.word18 {
	WORD-SPACING: 18px
}
.word20 {
	WORD-SPACING: 20px
}
.word22 {
	WORD-SPACING: 22px
}
.word24 {
	WORD-SPACING: 24px
}
.lh14 {
	LINE-HEIGHT: 14px
}
.lh15 {
	LINE-HEIGHT: 15px
}
.lh16 {
	LINE-HEIGHT: 16px
}
.lh17 {
	LINE-HEIGHT: 17px
}
.lh18 {
	LINE-HEIGHT: 18px
}
.lh19 {
	LINE-HEIGHT: 19px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh21 {
	LINE-HEIGHT: 21px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh23 {
	LINE-HEIGHT: 23px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh25 {
	LINE-HEIGHT: 25px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.hack2px {
	HEIGHT: 2px; OVERFLOW: hidden
}
.hack3px {
	HEIGHT: 3px; OVERFLOW: hidden
}
.hack4px {
	HEIGHT: 4px; OVERFLOW: hidden
}
.hack5px {
	HEIGHT: 5px; OVERFLOW: hidden
}
.hack6px {
	HEIGHT: 6px; OVERFLOW: hidden
}
.hack7px {
	HEIGHT: 7px; OVERFLOW: hidden
}
.hack8px {
	HEIGHT: 8px; OVERFLOW: hidden
}
.hack9px {
	HEIGHT: 9px; OVERFLOW: hidden
}
.hack10px {
	HEIGHT: 10px; OVERFLOW: hidden
}
.hack11px {
	HEIGHT: 11px; OVERFLOW: hidden
}
.hack12px {
	HEIGHT: 12px; OVERFLOW: hidden
}
.hack13px {
	HEIGHT: 13px; OVERFLOW: hidden
}
.hack14px {
	HEIGHT: 14px; OVERFLOW: hidden
}
.hack15px {
	HEIGHT: 15px; OVERFLOW: hidden
}
.hack20px {
	HEIGHT: 20px; OVERFLOW: hidden
}
.nielsen_code {
	POSITION: absolute; TOP: -99999px; LEFT: -99999px
}
BODY .wrap {
	MARGIN: auto; WIDTH: 960px; BACKGROUND: #fff
}
A.isVideo {
	PADDING-LEFT: 18px; BACKGROUND: url(http://www1.pconline.com.cn/2008/images/videoIcon_081209.gif) no-repeat left 2px
}
#bottom A.bottom_a:link {
	COLOR: #fff
}
#bottom A.bottom_a:visited {
	COLOR: #fff
}
#bottom A.bottom_a:hover {
	COLOR: #dce5ff
}
#bottom {
	MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: #303880; HEIGHT: 210px; CLEAR: both; OVERFLOW: hidden
}
#bottom .links {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 0px; WIDTH: 945px; PADDING-RIGHT: 15px; BACKGROUND: url(http://www.pconline.com.cn/test/images/index031.gif) repeat-x; HEIGHT: 37px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#bottom .links A {
	COLOR: #000
}
#bottom .links A:hover {
	COLOR: #f60
}
#bottom .links IMG {
	MARGIN-TOP: 8px; FLOAT: left
}
#bottom .links A.pmarket {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN-TOP: 8px; WIDTH: 111px; BACKGROUND: url(http://www.pconline.com.cn/images/market_sbg.gif) no-repeat; FLOAT: left; HEIGHT: 21px; OVERFLOW: hidden
}
#bottom .sites {
	TEXT-ALIGN: center; HEIGHT: 28px; COLOR: #fff; PADDING-TOP: 12px
}
#bottom .left {
	WIDTH: 369px; FLOAT: left
}
#bottom .left P {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 111px; FLOAT: right; HEIGHT: 150px; COLOR: #fff
}
#bottom .left P IMG {
	WIDTH: 111px; HEIGHT: 43px
}
#bottom .mid {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; PADDING-LEFT: 16px; WIDTH: 301px; FLOAT: left; HEIGHT: 250px; COLOR: #fff
}
#bottom .right {
	WIDTH: 81px; FLOAT: left; HEIGHT: 100px; PADDING-TOP: 3px
}
#bottom .right IMG {
	WIDTH: 40px; HEIGHT: 53px
}
A.cmsLink:link {
	BORDER-BOTTOM: #666 1px dashed; LINE-HEIGHT: 18px; COLOR: #000; TEXT-DECORATION: none
}
A.cmsLink:visited {
	BORDER-BOTTOM: #666 1px dashed; LINE-HEIGHT: 18px; COLOR: #000; TEXT-DECORATION: none
}
A.cmsLink:hover {
	BORDER-BOTTOM: #d50000 1px dashed; LINE-HEIGHT: 18px; COLOR: #d50000; TEXT-DECORATION: none
}
A.cmsLink:link FONT {
	COLOR: #000
}
A.cmsLink:visited FONT {
	COLOR: #000
}
A.cmsLink:hover FONT {
	COLOR: #d50000
}
FONT A.cmsLink:link {
	BORDER-BOTTOM-STYLE: none
}
FONT A.cmsLink:visited {
	BORDER-BOTTOM-STYLE: none
}
FONT TABLE A.cmsLink:link {
	BORDER-BOTTOM-STYLE: none; COLOR: #000
}
FONT TABLE A.cmsLink:visited {
	BORDER-BOTTOM-STYLE: none; COLOR: #000
}
OL.proApiTxt {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
OL.proApiPictxt {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
OL.proApiPic {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
.proApiTxt LI I {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.proApiTxt LI EM {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.proApiPictxt LI I {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.proApiPictxt LI EM {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.iName {
	MARGIN-RIGHT: 0px
}
.iPrice {
	MARGIN-RIGHT: 0px
}
.iForum {
	MARGIN-RIGHT: 0px
}
.emPrice {
	MARGIN-RIGHT: 0px
}
.emForum {
	MARGIN-RIGHT: 0px
}
I.iInfo EM {
	FONT-STYLE: normal
}
.raise {
	COLOR: #66cc00
}
.down {
	COLOR: #ff0000
}
.fixed {
	COLOR: #ff9900
}
.proApiTxt .iName:hover {
	Z-INDEX: 999; POSITION: relative; BACKGROUND-COLOR: #fff; OVERFLOW: visible
}
.proApiPictxt .liPic .iName:hover {
	Z-INDEX: 999; POSITION: relative; BACKGROUND-COLOR: #fff; OVERFLOW: visible
}
.proApiPictxt .iName:hover {
	Z-INDEX: 999; POSITION: relative; BACKGROUND-COLOR: #fff; OVERFLOW: visible
}
.proApiTxt .iName A:hover {
	Z-INDEX: 999; POSITION: relative; BACKGROUND-COLOR: #fff; OVERFLOW: visible
}
.proApiPictxt .liPic .iName A:hover {
	Z-INDEX: 999; POSITION: relative; BACKGROUND-COLOR: #fff; OVERFLOW: visible
}
.proApiPictxt .iName A:hover {
	Z-INDEX: 999; POSITION: relative; BACKGROUND-COLOR: #fff; OVERFLOW: visible
}
OL.proApiTxt {
	MARGIN: 8px 0px 8px 8px; WIDTH: 180px; BACKGROUND: url(http://www1.pconline.com.cn/global/2008/images/brand/norepeat.gif) no-repeat -785px -271px
}
OL.proApiTxt LI {
	LINE-HEIGHT: 24px; WIDTH: 180px; HEIGHT: 24px; MARGIN-LEFT: 20px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.proApiTxt .iName {
	WIDTH: 100px
}
.proApiTxt .iPrice {
	WIDTH: 40px
}
.proApiTxt .iForum {
	DISPLAY: none
}
.proApiTxt .iPower {
	TEXT-ALIGN: center; WIDTH: 35px
}
OL.proApiPictxt {
	MARGIN: 8px 0px 0px 8px; WIDTH: 210px; BACKGROUND: url(http://www1.pconline.com.cn/global/2008/images/brand/norepeat.gif) no-repeat -785px -180px
}
OL.proApiPictxt LI {
	LINE-HEIGHT: 24px; WIDTH: 190px; HEIGHT: 24px; MARGIN-LEFT: 20px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.proApiPictxt .liPic {
	WIDTH: 210px; BACKGROUND: #fff; HEIGHT: 115px; MARGIN-LEFT: 0px
}
.proApiPictxt .liPic .iName {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; WIDTH: 190px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(http://www1.pconline.com.cn/global/2008/images/brand/norepeat.gif) no-repeat -785px -271px; FLOAT: left; HEIGHT: 24px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.proApiPictxt .liPic .iInfo {
	LINE-HEIGHT: 82px; WIDTH: 210px; DISPLAY: block; FLOAT: left; HEIGHT: 82px
}
.proApiPictxt .liPic .iInfo .emPic {
	MARGIN: 8px 2px; WIDTH: 95px; BACKGROUND: #fff; HEIGHT: 72px
}
.proApiPictxt .liPic .iInfo .emPic IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 93px; HEIGHT: 70px; VERTICAL-ALIGN: middle; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.proApiPictxt .liPic .iInfo .emPrice {
	TEXT-ALIGN: center; WIDTH: 72px; COLOR: #f00; FONT-WEIGHT: bold
}
.proApiPictxt .liPic .iInfo .emForum {
	DISPLAY: none
}
.proApiPictxt .liPic .iInfo .emPower {
	TEXT-ALIGN: center; WIDTH: 35px
}
.proApiPictxt .iName {
	WIDTH: 110px; FONT-WEIGHT: bold
}
.proApiPictxt .iPrice {
	WIDTH: 42px
}
.proApiPictxt .iForum {
	DISPLAY: none
}
.proApiPictxt .iPower {
	TEXT-ALIGN: center; WIDTH: 35px
}
OL.proApiPic {
	TEXT-ALIGN: center; WIDTH: 920px
}
.proApiPic .liPic {
	POSITION: relative; WIDTH: 153px; FLOAT: left; HEIGHT: 150px; OVERFLOW: hidden
}
.proApiPic .liPic .iName {
	Z-INDEX: 4; POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 20px; WIDTH: 113px; PADDING-RIGHT: 20px; DISPLAY: block; WORD-WRAP: break-word; HEIGHT: 40px; OVERFLOW: hidden; TOP: 88px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.proApiPic .liPic .iInfo .emPic {
	Z-INDEX: 5; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 27px; WIDTH: 93px; PADDING-RIGHT: 27px; HEIGHT: 70px; TOP: -40px; PADDING-TOP: 0px
}
.proApiPic .liPic .iInfo .emPic IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; MARGIN: 8px 0px 0px; WIDTH: 93px; HEIGHT: 70px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.proApiPic .liPic .iInfo .emPic A:hover IMG {
	BORDER-BOTTOM: #f60 1px solid; BORDER-LEFT: #f60 1px solid; BORDER-TOP: #f60 1px solid; BORDER-RIGHT: #f60 1px solid
}
.proApiPic .liPic .iInfo .emPrice {
	LINE-HEIGHT: 20px; WIDTH: 153px; DISPLAY: block; HEIGHT: 25px; COLOR: #f00
}
.proApiPic .liPic .iInfo .emForum {
	DISPLAY: none
}
.proApiPic .liPic .iInfo .emPower {
	DISPLAY: none
}
.art_comm .cmtContentNew .thead {
	BACKGROUND: url(http://www1.pconline.com.cn/global/2008/images/cmt_img/pconlinebg.gif) repeat-x 0px 0px
}
.art_comm .cmtContentNew .thead .mark .imSub {
	BACKGROUND: url(http://www1.pconline.com.cn/global/2008/images/cmt_img/pconline.gif) no-repeat
}
.art_comm .cmtContentNew FORM TABLE {
	WIDTH: 520px
}
.art_comm .cmtContentNew {
	WIDTH: 618px
}
#PCHead090205 {
	BORDER-LEFT: #d8d8d8 1px solid; MARGIN: auto; WIDTH: 958px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/login/images/pchead090205bg.png) #f8f8f8 repeat-x; HEIGHT: 55px; BORDER-RIGHT: #d8d8d8 1px solid
}
#PCHead090205 A {
	COLOR: #484848; TEXT-DECORATION: none
}
#PCHead090205 A:hover {
	COLOR: #ff4800
}
#PCHead090205 .siteLogo {
	WIDTH: 108px; FLOAT: left; BORDER-RIGHT: #d8d8d8 1px solid
}
#PCHead090205 .siteLogo A {
	MARGIN-TOP: 1px; DISPLAY: block; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/login/images/pconlinelogo.png) no-repeat center 50%; HEIGHT: 53px
}
#PCHead090205 .siteLogo A STRONG {
	DISPLAY: none
}
#PCHead090205 UL {
	DISPLAY: inline; FLOAT: left
}
#PCHead090205 UL LI {
	DISPLAY: inline
}
#PCHead090205 .siteNav {
	WIDTH: 849px; FLOAT: left
}
#PCHead090205 .siteNav01 {
	HEIGHT: 25px
}
#PCHead090205 .siteNav01 .ul01 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 670px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
#PCHead090205 .siteNav01 .ul01 LI {
	MARGIN: 0px 4px 0px 5px; FLOAT: left
}
#PCHead090205 .siteNav01 #ajaxLogon {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 170px; PADDING-RIGHT: 6px; FLOAT: right; FONT-SIZE: 12px; PADDING-TOP: 8px
}
#PCHead090205 .siteNav01 #ajaxLogon .off A {
	PADDING-LEFT: 10px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/login/images/arrowgrey.gif) no-repeat left 2px
}
#PCHead090205 .siteNav01 #ajaxLogon .off .FormInfo {
	DISPLAY: none
}
#PCHead090205 .siteNav02 {
	HEIGHT: 28px
}
#PCHead090205 .siteNav02 .ul01 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 655px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#PCHead090205 .siteNav02 .ul01 LI {
	MARGIN: 0px 6px; FLOAT: left
}
#PCHead090205 .siteNav02 .ul02 {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 185px; PADDING-RIGHT: 6px; FLOAT: right; LETTER-SPACING: 1px; COLOR: #989898; PADDING-TOP: 10px
}
.dhtmlwindow {
	BORDER-BOTTOM: #ff4800 1px solid; POSITION: absolute; BORDER-LEFT: #ff4800 1px solid; BACKGROUND: #fff; VISIBILITY: hidden; FONT-SIZE: 14px; BORDER-TOP: #ff4800 1px solid; BORDER-RIGHT: #ff4800 1px solid
}
* HTML .drag-handle {
	WIDTH: 100%
}
.drag-handle {
	TEXT-ALIGN: left; FILTER: progid:DXImageTransform.Microsoft.alpha(opacity=100); TEXT-INDENT: 5px; WIDTH: auto; COLOR: #ff6600; OVERFLOW: hidden; CURSOR: move; FONT-WEIGHT: bold; -moz-opacity: 1; opacity: 1
}
.drag-handle .drag-controls {
	POSITION: absolute; TOP: 5px; CURSOR: pointer; RIGHT: 5px
}
.drag-handle {
	BORDER-BOTTOM: #ffe6a1 1px solid; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #fff8e2; HEIGHT: 30px
}
.drag-contentarea {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 150px; COLOR: black; OVERFLOW: auto; PADDING-TOP: 2px
}
.drag-statusarea {
	BACKGROUND-COLOR: #f8f8f8; HEIGHT: 13px; BORDER-TOP: gray 1px solid
}
.drag-resizearea {
	WIDTH: 13px; FLOAT: right; HEIGHT: 13px; FONT-SIZE: 0px; CURSOR: nw-resize
}
#interVeil {
	Z-INDEX: 5; POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.alpha(opacity=80); WIDTH: 10px; BACKGROUND: url(http://www1.pconline.com.cn/pccms/images/blackdot.gif) black; VISIBILITY: hidden; TOP: 0px; LEFT: 0px; opacity: 0.8
}
.loginForm {
	TEXT-ALIGN: left; ZOOM: 1; FONT-SIZE: 14px
}
.loginForm INPUT {
	FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
.loginForm P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.loginForm .divMsg {
	BORDER-BOTTOM: #ff9900 1px dotted; PADDING-BOTTOM: 12px; MARGIN: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #8b8b8b; PADDING-TOP: 5px
}
.loginForm .divMsg A {
	COLOR: #ff4800; FONT-WEIGHT: bold
}
.divRadio {
	MARGIN: 12px 0px 12px 120px
}
.divForm {
	ZOOM: 1
}
.divForm P {
	MARGIN: 12px 0px 12px 120px
}
.divForm .uname {
	BORDER-BOTTOM: #919191 1px solid; BORDER-LEFT: #919191 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 165px; PADDING-RIGHT: 2px; HEIGHT: 18px; COLOR: #525252; BORDER-TOP: #919191 1px solid; BORDER-RIGHT: #919191 1px solid; PADDING-TOP: 2px
}
.divForm .upwd {
	BORDER-BOTTOM: #919191 1px solid; BORDER-LEFT: #919191 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 165px; PADDING-RIGHT: 2px; HEIGHT: 18px; COLOR: #525252; BORDER-TOP: #919191 1px solid; BORDER-RIGHT: #919191 1px solid; PADDING-TOP: 2px
}
.divForm .submitBut {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 27px; BORDER-RIGHT-STYLE: none; WIDTH: 111px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/login/images/logininput.png) no-repeat; HEIGHT: 27px; COLOR: #ff4800; FONT-SIZE: 14px; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold
}
.divForm .closeBut {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 27px; BORDER-RIGHT-STYLE: none; WIDTH: 111px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/login/images/logininput.png) no-repeat; HEIGHT: 27px; COLOR: #ff4800; FONT-SIZE: 14px; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold
}
#PCHead090505 {
	WIDTH: 100%; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/090505/ztlogo.gif) #e6e6e6 repeat-x; HEIGHT: 38px
}
#PCHead090505 #inerNav {
	MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/090505/ztlogo.gif) #e6e6e6 repeat-x; HEIGHT: 38px
}
#PCHead090505 #inerNav .siteLogo {
	WIDTH: 74px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/090505/ztlogo.gif) #e6e6e6 no-repeat left -38px; FLOAT: left; HEIGHT: 38px
}
#PCHead090505 #inerNav .siteLogo STRONG {
	DISPLAY: none
}
#PCHead090505 #inerNav .siteNav {
	WIDTH: 480px; FLOAT: left; HEIGHT: 38px
}
#PCHead090505 #inerNav .siteNav UL LI {
	LINE-HEIGHT: 38px; MARGIN: 0px 3px; DISPLAY: inline; FLOAT: left
}
#PCHead090505 #inerNav .siteNav UL LI A {
	ZOOM: 1; COLOR: #525252
}
#PCHead090505 #inerNav .siteLogin A {
	ZOOM: 1; COLOR: #525252
}
#PCHead090505 #inerNav .siteLogin {
	TEXT-ALIGN: right; WIDTH: 275px; FLOAT: left; HEIGHT: 38px
}
#PCHead090505 #inerNav .siteLogin A {
	LINE-HEIGHT: 38px; MARGIN-RIGHT: 8px
}
#PCHead090505 #inerNav .siteLogin A.loginTxt {
	PADDING-LEFT: 10px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/090505/arrow.gif) no-repeat left center
}
#PCHead090505 #inerNav .siteGroup {
	TEXT-ALIGN: left; WIDTH: 122px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/090505/sitegroup.gif) no-repeat center 8px; FLOAT: right; HEIGHT: 38px
}
#PCHead090505 #inerNav .siteGroup UL {
	Z-INDEX: 999; BORDER-BOTTOM: #73a0bd 1px solid; POSITION: absolute; BORDER-LEFT: #73a0bd 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 26px; PADDING-LEFT: 0px; WIDTH: 120px; PADDING-RIGHT: 0px; ZOOM: 1; DISPLAY: none; BACKGROUND: #eaeff3; HEIGHT: auto; BORDER-TOP: #73a0bd 1px solid; BORDER-RIGHT: #73a0bd 1px solid; PADDING-TOP: 5px
}
#PCHead090505 #inerNav .siteGroup UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FLOAT: none; PADDING-TOP: 0px
}
#ztMain960 {
	MARGIN: auto; WIDTH: 960px; BACKGROUND: #ffffff
}
#ztMain1000 {
	MARGIN: auto; WIDTH: 1000px; BACKGROUND: #ffffff
}
#ztTopWide {
	WIDTH: 100%; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/login/images/pchead090205bg.png) #f8f8f8 repeat-x
}
#ztMainWide {
	WIDTH: 100%
}
#ztButWide {
	WIDTH: 100%; BACKGROUND: url(http://www.pconline.com.cn/test/images/index031.gif) repeat-x 50% top
}
.pageArea {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
.pageArea .page_num {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 12px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; ZOOM: 1; BACKGROUND: #f3f4f6; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.pageArea .dis_page {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 12px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; ZOOM: 1; BACKGROUND: #f3f4f6; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.pageArea .dis_page {
	COLOR: #ccc; MARGIN-RIGHT: 5px
}
.pageArea .page_num:hover {
	COLOR: #f60
}
.pageArea .dis_page A:hover {
	COLOR: #f60
}
.pageArea #page_cur {
	BACKGROUND: #fff; COLOR: #f60; FONT-WEIGHT: bold
}
.pconline_page {
	TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; MARGIN: 10px 0px 20px; WIDTH: 100%; DISPLAY: block; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px
}
.pconline_page EM {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 26px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; PADDING-TOP: 2px
}
.pconline_page A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 26px; MARGIN: 0px 2px; OUTLINE-STYLE: none; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.pconline_page A:hover {
	BORDER-BOTTOM: #f80 1px solid; BORDER-LEFT: #f80 1px solid; COLOR: #f80; BORDER-TOP: #f80 1px solid; BORDER-RIGHT: #f80 1px solid; TEXT-DECORATION: underline
}
.pconline_page A:focus {
	-moz-outline-style: none
}
.pconline_page SPAN {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: left; PADDING-BOTTOM: 4px; LINE-HEIGHT: 26px; BORDER-RIGHT-STYLE: none; MARGIN: 1px 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP-STYLE: none; BACKGROUND: #f80; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; PADDING-TOP: 5px
}
.pconline_page .prev {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 4px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 18px; PADDING-RIGHT: 12px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/pconline_page.gif) no-repeat 0px -50px; HEIGHT: 22px; BORDER-LEFT-STYLE: none; PADDING-TOP: 5px
}
.pconline_page .next {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 4px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 12px; PADDING-RIGHT: 18px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/pconline_page.gif) no-repeat 0px 0px; HEIGHT: 22px; BORDER-LEFT-STYLE: none; PADDING-TOP: 5px
}
.pconline_page A.prev:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-POSITION: 0px -75px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.pconline_page A.next:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-POSITION: 0px -25px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#zt_header * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#zt_header {
	WIDTH: 100%; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/images/pconline_zt_header_bg_re.gif); HEIGHT: 37px; OVERFLOW: hidden
}
#zt_header #topnavm {
	MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/images/pconline_zt_header_bg_re.gif) repeat-x; HEIGHT: 37px
}
#zt_header #topnavm {
	COLOR: #5a5a5a
}
#zt_header #topnavm A {
	COLOR: #5a5a5a
}
#zt_header #topnavm A:hover {
	COLOR: #f00
}
#zt_header #topnavm #zt_header_logo {
	FLOAT: left; MARGIN-LEFT: 2px
}
#zt_header #topnavm #zt_header_tags LI {
	LINE-HEIGHT: 38px; FLOAT: left; MARGIN-LEFT: 5px
}
#zt_header #zt_header_login {
	LINE-HEIGHT: 30px; FLOAT: left; HEIGHT: 30px; MARGIN-RIGHT: 2px; PADDING-TOP: 8px
}
#zt_header #ajaxLogon {
	TEXT-ALIGN: center; PADDING-BOTTOM: 9px; LINE-HEIGHT: 19px; PADDING-LEFT: 9px; WIDTH: 296px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; HEIGHT: 19px; OVERFLOW: hidden; PADDING-TOP: 9px
}
#zt_header #ajaxLogon .logined {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#zt_header #ajaxLogon INPUT {
	BORDER-BOTTOM: #878787 1px solid; BORDER-LEFT: #878787 1px solid; TEXT-INDENT: 0px; WIDTH: 88px; FLOAT: left; HEIGHT: 17px; BORDER-TOP: #878787 1px solid; MARGIN-RIGHT: 4px; BORDER-RIGHT: #878787 1px solid
}
#zt_header #ajaxLogon INPUT.submit {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 49px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/images/pconline_zt_header_bg.gif) no-repeat 0px -29px; HEIGHT: 19px; COLOR: #504f4f; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#zt_header #ajaxLogon INPUT.reg {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 49px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/images/pconline_zt_header_bg.gif) no-repeat 0px -29px; HEIGHT: 19px; COLOR: #504f4f; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#zt_header #ajaxLogon .auto_login_check {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: auto; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-LEFT-STYLE: none; MARGIN-RIGHT: 6px
}
#zt_header #ajaxLogon #auto_login {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: auto; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-LEFT-STYLE: none; MARGIN-RIGHT: 6px
}
#zt_header #ajaxLogon .auto_login_label {
	FLOAT: left
}
#zt_header .zt_header_webGroup {
	MARGIN-TOP: 8px; FLOAT: right
}
#zt_header .subContent {
	Z-INDEX: 99999; BORDER-BOTTOM: #d7d7d7 1px solid; POSITION: absolute; BORDER-LEFT: #d7d7d7 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/images/pconline_zt_header_bg.gif) #fff no-repeat center -50px; VISIBILITY: hidden; OVERFLOW: hidden; BORDER-TOP: #d7d7d7 1px solid; BORDER-RIGHT: #d7d7d7 1px solid; PADDING-TOP: 5px
}
#zt_header .subContent A {
	BORDER-BOTTOM: #d7d7d7 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; HEIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#zt_header .subContent A:hover {
	BACKGROUND: #a4bfce; COLOR: #fff
}
#zt_header .subBox #winMore {
	WIDTH: 123px; MARGIN-LEFT: -50px
}
#zt_header .subBox #winMore A {
	WIDTH: 50px; FLOAT: left
}
#zt_header .subBox #winMore A:hover {
	COLOR: #fff
}
#zt_header .subBox #webBox {
	BORDER-BOTTOM: #8f9ca4 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #8f9ca4 1px solid; PADDING-BOTTOM: 6px; MARGIN-TOP: -2px; WIDTH: 123px; BACKGROUND: #fff; VISIBILITY: hidden; BORDER-TOP: #8f9ca4 1px; BORDER-RIGHT: #8f9ca4 1px solid
}
#zt_header .subBox #webBox A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; MARGIN: 5px 0px 0px 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 3px; DISPLAY: block; HEIGHT: 20px; COLOR: #919ca2; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#zt_header .subBox #webBox A:hover {
	BACKGROUND: url(http://www1.pconline.com.cn/global/2009/images/pconline_zt_header_bg.gif) no-repeat 0px 0px; COLOR: #fff
}
.cart {
	MARGIN-TOP: 4px; WIDTH: 16px; DISPLAY: none; BACKGROUND: url(http://www1.pconline.com.cn/global/2008/images/jss/shopping_cart.gif) no-repeat; FLOAT: left; HEIGHT: 16px; MARGIN-LEFT: 5px
}
.thead .itmall_mark {
	TEXT-ALIGN: left; BORDER-LEFT: #dbdbdb 1px solid; LINE-HEIGHT: 32px; PADDING-LEFT: 98px; WIDTH: 100px; DISPLAY: block; BACKGROUND: url(http://www1.pconline.com.cn/global/2009/market/images/itmall_logo.gif) no-repeat 0px 1px; FLOAT: left; HEIGHT: 26px; COLOR: #cb0000; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.itMallPrd {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.itMallPrd .thead {
	BACKGROUND: url(http://www1.pconline.com.cn/2009/itmall/images/0928/thead_bg.gif) repeat-x; HEIGHT: 28px
}
.itMallPrd .thead .mark {
	WIDTH: 150px; DISPLAY: block; BACKGROUND: url(http://www1.pconline.com.cn/2009/itmall/images/0928/itmall_logo.gif) repeat-x; FLOAT: left; HEIGHT: 26px
}
.itMallPrd .thead .subMark {
	TEXT-ALIGN: right; LINE-HEIGHT: 28px; WIDTH: 350px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: right; COLOR: #c90101
}
.itMallPrd .thead .subMark A {
	COLOR: #c90101
}
.itMallPrd .tbody {
	OVERFLOW: hidden; PADDING-TOP: 14px
}
.itMallPrd .tbody LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; WIDTH: 122px; PADDING-RIGHT: 18px; FLOAT: left; PADDING-TOP: 0px
}
.itMallPrd .tbody I {
	TEXT-ALIGN: center; DISPLAY: block; COLOR: #000
}
.itMallPrd .tbody .iPic {
	HEIGHT: 98px
}
.itMallPrd .tbody .iPic IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.itMallPrd .tbody .iText {
	LINE-HEIGHT: 15px; HEIGHT: 15px; OVERFLOW: hidden
}
.itMallPrd .tbody .iPrice {
	HEIGHT: 18px; COLOR: #f60
}
.itMallPrd .tbody .iPrice SPAN {
	FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.itMallPrd .tbody .iBuy {
	TEXT-ALIGN: left; DISPLAY: block
}
.itMallPrd .tbody .cart {
	LINE-HEIGHT: 18px; PADDING-LEFT: 20px; WIDTH: 55px; DISPLAY: block; FLOAT: none; MARGIN-LEFT: 20px
}
.itMall_little {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fff; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid
}
.itMall_little .tbody {
	PADDING-TOP: 10px
}
.itMall_little .tbody LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 102px; PADDING-RIGHT: 7px; FLOAT: left; PADDING-TOP: 0px
}
.itMall_little .tbody .iPic {
	HEIGHT: 80px
}
.itMall_little .tbody .cart {
	MARGIN-LEFT: 15px
}
.itMall_little .ulHotNews {
	MARGIN-TOP: 7px
}
.itMall_little .ulHotNews LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 12px; WIDTH: 100%; HEIGHT: 24px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.itMall_little .ulHotNews LI .type {
	COLOR: #666; FONT-SIZE: 12px
}
.itMall_little .ulHotNews LI .type A {
	COLOR: #666
}
.itMall290 .tbody LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 82px; PADDING-RIGHT: 7px; FLOAT: left; PADDING-TOP: 0px
}
.itMall290 .tbody LI .iPic {
	HEIGHT: 70px
}
.itMall290 .tbody LI .cart {
	MARGIN-LEFT: 5px
}
